spring:
  application:
    name: discovery-service
  cloud:
    service-registry:
      auto-registration:
        enabled: false
server:
  port: 8761

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
